body {
  color-scheme: light dark;
  background-color: var(--popup, inherit);
  color: var(--popup_text, inherit);
  font-family: "Sans";
}

a {
  margin: 10px;
  display: inline-block;
}

.domain-text {
  font-family: "monospace";
}

.panel {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.panel-header {
  text-align: center;
}

.panel-section {
  margin-bottom: 8px;
  display: block;
}

.panel-section label {
  margin-bottom: 8px;
}

.panel-centered {
  text-align: center;
  align-items: center;
}

#custom-domain {
  width: 90%;
  margin-top: 4px;
}

input[type="radio"] {
  float: left;
}

label{
  margin-left: 25px;
  display: block;
 }
